#GCP project settings
GCP_PROJECT_ID=your=gcp-project-id
BQ_DATASET_RAW=raw
BQ_DATASET_STAGING=staging
BQ_DATASET_INTERMEDIATE=intermediate
BA_DATSET_MARTS=marts

#Path to your GCP service account key 
GOOGLE_APPLICATION_CREDENTIALS=./credentails.json

#Dataset local path
IRCTC_DATA_PATH=./data/irctc_trains.csv